@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  @apply grid place-content-center h-screen bg-neutral-950;
}